################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IxianMiner/v15
/IxianMiner/bin
/IxianMiner/obj
/packages
/IxianMiner/IxianMiner.csproj.user

